.tv {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
    background-color:#000;
}
.tv  .screen {
    /*position: absolute; */
    top: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    transition: opacity .5s;
    pointer-events: none;
    width: 100vw;
  	height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
	min-height: 100vh;
 	min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
}
    .tv .active {
      opacity: 1;
    }

    div#main-page{
        overflow:hidden;
        background:none;
    }
	
.ui-mobile .ui-page-active {
    background: none !important;
}