/*
Følgende kode skal indsættes i Trippus

Derudover skal der laves: 

    1000x200px Header image ud af logo

    Finde Video på youtube, gem link og start/slut tid (Skal bruges for neden)

    Layout (Trippus) 
        Baggrund: #ffffff
        Farve indenfor ramme: #ffffff
        Ramme: trans
*/


/* EGEN HTML <HEAD> BLOK FOR TILMELDINGSVINDUE

<style>
/* FJERN PRIS BOKS - RESPONSOV formular */
#button-summary {display: none !important;}
</style>

<style>
@media screen and (max-width: 730px) {
    #tv {
        display:none;
    }
    .ui-content {
        /* Billedebaggrund */
        background-image: url(http://www.trippus.se/eventus/userfiles/89873.jpeg) !important;
        background-size: cover;
    background-repeat: no-repeat;
    background-position: 40%;
    }
</style>


<script>    
  var YtUrl = "RVqyHmmtPfc";
  var YtStart = 00;
  var YtEnd = 30;
</script>

<script src="https://www.trippus.se/support-layout/Rikard/Scripts/Videobakgrund.js"></script>
 <link rel="stylesheet" type="text/css" href="https://www.trippus.se/support-layout/Rikard/Scripts/Videobakgrund.css">

/* EGEN HTML FOR TILMELDINGSVINDUE */
 <div class="tv">
		  <div class="screen mute" id="tv"></div>
</div>

<style>

:root {
    --antal-bg-color: #193A69 ;
    --opsummering-bg-color: #314C71 ;
    --grundata-skygge-color: #103160;

}

/*
    var(--antal-bg-color)
    var(--opsummering-bg-color)
    var(--grundata-skygge-color)
*/

body * {
    text-shadow: none !important;
}

body {
        color: #000000;
}
    
.TextBoxName {
}
    
    .DivStepsH {
        background: none; 
        border-bottom: 0px;
    }
    
    .DivStepText {
        color: #000000;
        font-size: 1.2em;
    }

    .divInnerOn {
        background-image: none;
        border-radius: 0px;
        border: 1px solid var(--antal-bg-color);
        padding: 7px;
    }

    .divInnerOff {
        background-image: none;
        border-radius: 0px;
        border: 1px solid #fff;
        padding: 7px;
    }

    .NrCompanionsMini {
        background-image: none;
        border-radius: 0px;
        border: 1px solid var(--antal-bg-color);
    }

    .DivBookerHeader {
        background-image: none;
        border-radius: 0px;
        border: 1px solid var(--antal-bg-color);
    }

    .InfoBoxVisible {
        border: 1px solid #ffffff;
        background-color: #ffffff;
        border-radius: 0px;
        padding: 7px;
    }

.SuccessHeader {
    font-size: 1.8em;
    color: var(--antal-bg-color);
    letter-spacing: -1px;
    line-height: 75px;
    height: 75px;
}

.SuccessMail {
    color: var(--antal-bg-color);
    margin-left: 10px;
    font-weight: bold;
    text-align: center;
}

       .ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
    background:var(--antal-bg-color) /*{a-bar-background-color}*/;
    border-color: var(--antal-bg-color)/*{a-bar-border}*/;
    color: #ffffff /*{a-bar-color}*/;
    text-shadow: 0 /*{a-bar-shadow-x}*/ 1px /*{a-bar-shadow-y}*/ 0 /*{a-bar-shadow-radius}*/ #eee /*{a-bar-shadow-color}*/;
    font-weight: bold;
}
    
    a#button-summary, a#button-book {
        background:  var(--opsummering-bg-color);
            border-color:  var(--opsummering-bg-color);
        color: #fff;
                text-shadow: none;
    }
    span {
        text-shadow: none;
    }
    #button-next, #button-previous {
        background: var(--opsummering-bg-color);
        border-color: var(--opsummering-bg-color);
        color: #fff;
        text-shadow: none;
    }
    
    div#summary-panel, a#confirmation, a#calendarEntry {
    background:var(--antal-bg-color);
    border-color:var(--antal-bg-color);
        color: #ffffff;
        text-shadow: none;
}
    
    .ui-collapsible-set .ui-collapsible:not(.ui-collapsible-inset) .ui-collapsible-heading .ui-btn {
    /* border-top-width: 1px; */
    background: var(--opsummering-bg-color);
    border-color: var(--opsummering-bg-color);
    text-shadow: none;
}
    
    .ui-body-b, .ui-page-theme-b .ui-body-inherit, html .ui-bar-b .ui-body-inherit, html .ui-body-b .ui-body-inherit, html body .ui-group-theme-b .ui-body-inherit, html .ui-panel-page-container-b {
    background:var(--grundata-skygge-color) /*{b-body-background-color}*/;
        border-color:var(--grundata-skygge-color) /*{b-body-border}*/; }
 
    .summary-general-information-contents.ui-corner-all {
        /* #981620 */
    background:var(--opsummering-bg-color);
    color: #fff;
    text-shadow: none;   
     }
    .ui-page-theme-a a:hover{
     	color: var(--opsummering-bg-color);
        }
    
    .ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a{
        opacity: 0.7;
    }
    
    .img{
        opacity: 0.5;
    }
    
    .strong{
        font-size: 30px !important;
    	color: white !important;
    }
    
    .notsostrong{
        font-size: 20px !important;
    	color: white !important;
    }
    
    .registration-step-header{
        color: white !important;
    }
    
</style>