:root {
    /* Main layout farver, sliderbox-bg-color sætter også farven for bælken i bunden, og opsummerings-bjælken */
    --sliderbox-bg-color: #0A4704;
    --slider-bg-color:white;
    --opsummering-bg-color: #ffffff ;
    --grunddata-confirmation-shadow-color: #0A4704;
    
    /* Tekst farver i kronologisk rækkefælge, efter flowet igennem registreringen */
    --Tekst-grunddata: white;
    --Tekst-description: black;
    --Tekst-slider: white;
    --Tekst-person: black;
    --Tekst-button: black;
    --Tekst-summary-headings: white;
    --Tekst-summary-person: black;
    --Tekst-Summary-Generel-field: Black;
    --Tekst-Field-actual-value: grey;
}

ui-collapsible-heading-toggle ui-btn ui-btn-icon-left ui-btn-inherit ui-mini ui-icon-minus, ui-collapsible-heading-toggle ui-btn ui-btn-icon-left ui-btn-inherit ui-mini ui-icon-minus{
    color: var(--Tekst-summary-person);
}


@media screen and (max-width: 736px) {
    #tv {
        display:none;
    }
    
    .ui-content {
        /* Billedebaggrund */
        background-image: url(https://www.tesla.com/sites/default/files/images/software_update.jpg) !important;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 40%;
    }
}

/* FJERN PRIS BOKS - RESPONSOV formular */
#button-summary {
    display: none !important;
}

body * {
    text-shadow: none !important;
}

body {
    color: #000000;
}

span {
    text-shadow: none;
}
    
.DivStepsH {
    background: none; 
    border-bottom: 0px;
}
    
.DivStepText {
    color: #000000;
    font-size: 1.2em;
}

.divInnerOn {
    background-image: none;
    border-radius: 0px;
    border: 1px solid var(--sliderbox-bg-color);
    padding: 7px;
}

.divInnerOff {
    background-image: none;
    border-radius: 0px;
    border: 1px solid #fff;
    padding: 7px;
}

.NrCompanionsMini, .DivBookerHeader  {
    background-image: none;
    border-radius: 0px;
    border: 1px solid var(--sliderbox-bg-color);
}

.InfoBoxVisible {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 0px;
    padding: 7px;
}

.SuccessHeader {
    font-size: 1.8em;
    color: var(--sliderbox-bg-color);
    letter-spacing: -1px;
    line-height: 75px;
    height: 75px;
}

.SuccessMail {
    color: var(--sliderbox-bg-color);
    margin-left: 10px;
    font-weight: bold;
    text-align: center;
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
    background: var(--sliderbox-bg-color) /*{a-bar-background-color}*/;
    border-color: var(--sliderbox-bg-color)/*{a-bar-border}*/;
    color: var(--Tekst-slider) /* slider-tekst */;
    text-shadow: 0 /*{a-bar-shadow-x}*/ 1px /*{a-bar-shadow-y}*/ 0 /*{a-bar-shadow-radius}*/ #eee /*{a-bar-shadow-color}*/;
    font-weight: bold;
}

/* Sætter både farven for "Opsummering" og "Bekræft" knapperne */
a#button-summary, a#button-book, #button-next, #button-previous {
    background: var(--opsummering-bg-color);
    border-color: var(--opsummering-bg-color);
    color:var(--Tekst-button); /* "knap-tekst" */
}

div#summary-panel, a#confirmation, a#calendarEntry {
    background: var(--sliderbox-bg-color);
    border-color: var(--sliderbox-bg-color);
    color: var(--Tekst-summary-headings); /* "Summary-heading-tekst" */
    text-shadow: none;
}
    
.ui-collapsible-set .ui-collapsible:not(.ui-collapsible-inset) .ui-collapsible-heading .ui-btn {
    background: var(--opsummering-bg-color);
    border-color: var(--opsummering-bg-color);
    color:var(--Tekst-summary-headings); /* Grunddata-summary tekst */
}
.summary-general-information-value {
    color:var(--Tekst-Field-actual-value); /* Summary-field-aktual-values-tekst */
}

.summary-general-information-name {
    font-weight: bold;
    color:var(--Tekst-Summary-Generel-field); /* Summary-field-general-tekst */
}

.ui-body-b, .ui-page-theme-b .ui-body-inherit, html .ui-bar-b .ui-body-inherit, html .ui-body-b .ui-body-inherit, html body .ui-group-theme-b .ui-body-inherit, html .ui-panel-page-container-b {
    background: var(--grunddata-confirmation-shadow-color) /*{b-body-background-color}*/;
    border-color: var(--grunddata-confirmation-shadow-color) /*{b-body-border}*/; 
}
 
.summary-general-information-contents.ui-corner-all {
    background: var(--opsummering-bg-color);
    color: #fff;
    opacity: 0.9; /* Set to 0.9 to add a darker color to the dropdown box */ 
    border-radius: 0px;
}

.ui-page-theme-a a:hover{
 	color: var(--opsummering-bg-color); /* Skal hover måske være en anden farve? */
}

.person{
    margin-bottom: 1em;
    opacity: 0.85;
    color:var(--Tekst-person);   /* Person-tekst */ 
}

.registration-step-description, #number-of-persons-slider-container, .activity, .activity-super-group, .accommodation {
    margin-bottom: 1em;
    opacity: 0.85;
    color:var(--Tekst-description);   /* Description-tekst */ 
}
    
.img{
    opacity: 0.5;
}
    
.strong{
    font-size: 30px !important;
	color: white !important;
}
    
.notsostrong{
    font-size: 20px !important;
	color: white !important;
}
    
.registration-step-header{
    color: var(--Tekst-grunddata)!important; /* Grunddata-tekst */
}

.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, html head + body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on:after, html .ui-bar-a .ui-checkbox-on:after, html .ui-body-a .ui-checkbox-on:after, html body .ui-group-theme-a .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-a:after, .ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active {
    background-color: var(--slider-bg-color) /*{a-active-background-color}*/;
    border-color: var(--slider-bg-color) /*{a-active-border}*/;
    color: var(--slider-bg-color) /*{a-active-color}*/;
    text-shadow: 0 /*{a-active-shadow-x}*/ 1px /*{a-active-shadow-y}*/ 0 /*{a-active-shadow-radius}*/var(--sliderbox-bg-color)/*{a-active-shadow-color}*/;
}