:root {

    /* Main layout farver, sliderbox-bg-color sætter også farven for bælken i bunden, og opsummerings-bjælken */
    --header-and-footer-color: transparent;
    --sliderbox-bg-color: #d01012 ;
    --slider-bg-color:#f7ef37;
    --summary-bg-color:#c2c2c2 ;
    --button-previous: #f7ef37;
    --button-next: #d01012 ;
    --button-book: #c2c2c2;
    --grunddata-confirmation-shadow-color: #525252;
    
    /* Tekst farver i kronologisk rækkefælge, efter flowet igennem registreringen */
    --Tekst-grunddata: white;
    --Tekst-description: black;
    --Tekst-slider: white;
    --Tekst-person: black;

    --Tekst-button: white;
    --Tekst-summary-headings: white;
    --Tekst-summary-person: white;
    --Tekst-Summary-Generel-field: white;
    --Tekst-Field-actual-value: black;



    /* Kanter på kasser */
    --Border-raius: 0px;

    /* Billedbaggrund til mobil enhed */
    --Mobile-background: url(https://www.tesla.com/sites/default/files/images/software_update.jpg);

}

@media screen and (max-width: 736px) {
    #tv {
        display:none;
    }
    
    .ui-content {
        /* Billedebaggrund */
        background-image: var(--Mobile-background) !important;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 40%;
    }
}

.registration-step-description{
    display:none;
}

/* FJERN PRIS BOKS - RESPONSOV formular */
#button-summary {
    display: none !important;
}

body * {
    text-shadow: none !important;
}

body {
    color: #000000;
}

span {
    text-shadow: none;
}
    
.DivStepsH {
    background: none; 
    border-bottom: 0px;
}
    
.DivStepText {
    color: #000000;
    font-size: 1.2em;
}

.divInnerOn {
    background-image: none;
    border-radius: 0px;
    border: 1px solid var(--sliderbox-bg-color);
    padding: 7px;
}

.divInnerOff {
    background-image: none;
    border-radius: 0px;
    border: 1px solid #fff;
    padding: 7px;
}

.NrCompanionsMini, .DivBookerHeader  {
    background-image: none;
    border-radius: 0px;
    border: 1px solid var(--sliderbox-bg-color);
}

.InfoBoxVisible {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 0px;
    padding: 7px;
}

.SuccessHeader {
    font-size: 1.8em;
    color: var(--sliderbox-bg-color);
    letter-spacing: -1px;
    line-height: 75px;
    height: 75px;
}

.SuccessMail {
    color: var(--sliderbox-bg-color);
    margin-left: 10px;
    font-weight: bold;
    text-align: center;
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
    background: var(--sliderbox-bg-color) /*{a-bar-background-color}*/;
    border-color: var(--sliderbox-bg-color)/*{a-bar-border}*/;
    color: var(--Tekst-slider) /* slider-tekst */;
    border-radius: var(--Border-raius); /* Fjern afrundede hjørner */
    font-weight: bold;
    border-width:1px;
    border-color:black;
}

/* Sætter både farven for "Opsummering" og "Bekræft" knapperne */
a#button-summary{
    background: var(--button-summary);
    border-color: var(--button-summary);
    color:var(--Tekst-button); /* "knap-tekst" */
    border-radius: var(--Border-raius);
}

#button-next{
    background: var(--button-next);
    border-color: var(--button-next);
    color:var(--Tekst-button); /* "knap-tekst" */
    border-radius: var(--Border-raius);
}

a#button-book{
    background: var(--button-book);
    border-color: var(--button-book);
    color:var(--Tekst-button); /* "knap-tekst" */
    border-radius: var(--Border-raius);
}

#button-previous {
    background: var(--button-previous);
    border-color: var(--button-previous);
    color:black; /* "knap-tekst" */
    border-radius: var(--Border-raius);
}

div#summary-panel, a#confirmation, a#calendarEntry {
    background: var(--sliderbox-bg-color);
    border-color: var(--sliderbox-bg-color);
    color: var(--Tekst-summary-headings); /* "Summary-heading-tekst" */
    text-shadow: none;
}

.ui-collapsible-set .ui-collapsible:not(.ui-collapsible-inset) .ui-collapsible-heading .ui-btn {
    background: var(--summary-bg-color);
    border-color: var(--summary-bg-color);
    color:var(--Tekst-summary-person); /* Grunddata-summary tekst */
    border-radius: var(--Border-raius);
}

.summary-general-information-value {
    color:var(--Tekst-Field-actual-value); /* Summary-field-aktual-values-tekst */
}

.summary-general-information-name {
    font-weight: bold;
    color:var(--Tekst-Summary-Generel-field); /* Summary-field-general-tekst */
}

.ui-body-b, .ui-page-theme-b .ui-body-inherit, html .ui-bar-b .ui-body-inherit, html .ui-body-b .ui-body-inherit, html body .ui-group-theme-b .ui-body-inherit, html .ui-panel-page-container-b {
    background: var(--grunddata-confirmation-shadow-color) /*{b-body-background-color}*/;
    border-color: var(--grunddata-confirmation-shadow-color) /*{b-body-border}*/; 
}
 
.summary-general-information-contents.ui-corner-all {
    background: var(--summary-bg-color);
    color: #fff;
    opacity: 0.9; /* Set to 0.9 to add a darker color to the dropdown box */ 
    border-radius: 0px;
}

.ui-page-theme-a a:hover{
 	color: var(--summary-bg-color); /* Skal hover måske være en anden farve? */
}

.ui-icon-check:after, html .ui-btn.ui-checkbox-on.ui-checkbox-on:after{
    background:black; /* Selection */
}

.person{
    margin-bottom: 1em;
    opacity: 0.85;
    color:var(--Tekst-person);   /* Person-tekst */ 
    border-radius: var(--Border-raius);
    background: #f7ef37;
    border-color: #f7ef37;

    border-color: black;
    border-width: 1px;
}

.ui-header-fixed, .ui-footer-fixed{
    background: var(--header-and-footer-color) !important;
    border: var(--header-and-footer-color) !important;
}

 #number-of-persons-slider-container, .activity, .activity-super-group, .accommodation {
    margin-bottom: 1em;
    opacity: 0.85;
    color:var(--Tekst-description);   /* Description-tekst */ 
}
    
.img{
    opacity: 0.5;
}
    
.strong{
    font-size: 30px !important;
	color: white !important;
}
    
.notsostrong{
    font-size: 20px !important;
	color: white !important;
}
    
.registration-step-header{
    color: var(--Tekst-grunddata)!important; /* Grunddata-tekst */
    display: none; /* Fjerner grunddata overskrift */
}

.registration-step{
    max-width: 800px;
}

.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, html head + body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on:after, html .ui-bar-a .ui-checkbox-on:after, html .ui-body-a .ui-checkbox-on:after, html body .ui-group-theme-a .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-a:after, .ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active {
    background-color: var(--slider-bg-color) /*{a-active-background-color}*/;
    border-color: var(--slider-bg-color) /*{a-active-border}*/;
    color: var(--slider-bg-color) /*{a-active-color}*/;
    text-shadow: 0 /*{a-active-shadow-x}*/ 1px /*{a-active-shadow-y}*/ 0 /*{a-active-shadow-radius}*/var(--sliderbox-bg-color)/*{a-active-shadow-color}*/;
}

.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn.ui-last-child {
    border-width: 1px;
    border-color: black;
}

.ui-input-text, .ui-body-inherit, .ui-corner-all, .ui-shadow-inset{
    border-width: 1px;
    border-color: black;
}

.ui-controlgroup-controls a.ui-shadow:not(:focus), .ui-controlgroup-controls button.ui-shadow:not(:focus), .ui-controlgroup-controls div.ui-shadow:not(.ui-focus){
    border-width: 1px;
    border-color: black;
}

.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a{
    border-color:black !important;

}

.ui-field-contain > label + [class*="ui-"], .ui-field-contain .ui-controlgroup-controls {
    float: left;
    width: 78%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border-width: 1px;
    border-color: black;
}

.ui-checkbox, .ui-radio {
    margin: 0 0;
    position: relative;
}