@media screen and (max-width: 736px) {
    #tv {
        display:none;
    }
    
    .ui-content {
        /* Billedebaggrund */
        background-image: https://mfiles.alphacoders.com/490/490530.jpg !important;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 40%;
    }
}

.registration-step-description{
    display:none;
}

/* FJERN PRIS BOKS - RESPONSOV formular */
#button-summary {
    display: none !important;
}

body * {
    text-shadow: none !important;
}

body {
    color: #000000;
}

span {
    text-shadow: none;
}
    
.DivStepsH {
    background: none; 
    border-bottom: 0px;
}
    
.DivStepText {
    color: #000000;
    font-size: 1.2em;
}

.divInnerOn {
    background-image: none;
    border-radius: 0px;
    border: 1px solid #d01012;
    padding: 7px;
}

.divInnerOff {
    background-image: none;
    border-radius: 0px;
    border: 1px solid #fff;
    padding: 7px;
}

.NrCompanionsMini, .DivBookerHeader  {
    background-image: none;
    border-radius: 0px;
    border: 1px solid #d01012;
}

.InfoBoxVisible {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 0px;
    padding: 7px;
}

.SuccessHeader {
    font-size: 1.8em;
    color: #d01012;
    letter-spacing: -1px;
    line-height: 75px;
    height: 75px;
}

.SuccessMail {
    color: #d01012;
    margin-left: 10px;
    font-weight: bold;
    text-align: center;
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
    background: #d01012 /*{a-bar-background-color}*/;
    border-color: #d01012/*{a-bar-border}*/;
    color: white /* slider-tekst */;
    border-radius: 0px; /* Fjern afrundede hjørner */
    font-weight: bold;
    border-width:1px;
    border-color:black;
}

/* Sætter både farven for "Opsummering" og "Bekræft" knapperne */
a#button-summary{
    color:white; /* "knap-tekst" */
    border-radius: 0px;
}

#button-next{
    background:  #d01012;
    border-color:  #d01012;
    color:white; /* "knap-tekst" */
    border-radius: 0px;
    border-width: 1px;
    border-color: black;
}

a#button-book{
    background: #f7ef37;
    border-color: #f7ef37;
    color:black; /* "knap-tekst" */
    border-radius: 0px;
    border-width: 1px;
    border-color: black;
}

#button-previous {
    background: #f7ef37;
    border-color: #f7ef37;
    color:black; /* "knap-tekst" */
    border-radius: 0px;
    border-width: 1px;
    border-color: black;
}

div#summary-panel, a#confirmation, a#calendarEntry {
    background: #d01012;
    border-color: #d01012;
    color: white; /* "Summary-heading-tekst" */
    text-shadow: none;
}

 .ui-collapsible-set .ui-collapsible:not(.ui-collapsible-inset) .ui-collapsible-heading .ui-btn {
    background: #A50D0F;

} 

.summary-general-information-name {
    font-weight: bold;
    color:white; /* Summary-field-general-tekst */
}

.ui-body-b, .ui-page-theme-b .ui-body-inherit, html .ui-bar-b .ui-body-inherit, html .ui-body-b .ui-body-inherit, html body .ui-group-theme-b .ui-body-inherit, html .ui-panel-page-container-b {
    background: #D13E41 /*{b-body-background-color}*/;
    border-color: #D13E41 /*{b-body-border}*/; 
}
 
.summary-general-information-contents.ui-corner-all {
    border-radius: 0px;
}

.ui-page-theme-a a:hover{
 	color: #c2c2c2; /* Skal hover måske være en anden farve? */
}

.ui-icon-check:after, html .ui-btn.ui-checkbox-on.ui-checkbox-on:after{
    background:black; /* Selection */
}

.person{
    margin-bottom: 1em;
    opacity: 0.85;
    color:black;   /* Person-tekst */ 
    border-radius: 0px;
    background: #f7ef37;
    border-color: #f7ef37;
    border-color: black;
    border-width: 1px;
}

.ui-header-fixed, .ui-footer-fixed{
    background: transparent !important;
    border: transparent !important;
}

 #number-of-persons-slider-container, .activity, .activity-super-group, .accommodation {
    margin-bottom: 1em;
    opacity: 0.85;
    color:black;   /* Description-tekst */ 
}
    
.img{
    opacity: 0.5;
}
    
.strong{
    font-size: 30px !important;
	color: white !important;
}
    
.notsostrong{
    font-size: 20px !important;
	color: white !important;
}
    
.registration-step-header{
    color: white!important; /* Grunddata-tekst */
    display: none; /* Fjerner grunddata overskrift */
}

.registration-step{
    max-width: 800px;
}

.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, html head + body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on:after, html .ui-bar-a .ui-checkbox-on:after, html .ui-body-a .ui-checkbox-on:after, html body .ui-group-theme-a .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-a:after, .ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active {
    background-color: #f7ef37 /*{a-active-background-color}*/;
    border-color: #f7ef37 /*{a-active-border}*/;
    color: #f7ef37 /*{a-active-color}*/;
    text-shadow: 0 /*{a-active-shadow-x}*/ 1px /*{a-active-shadow-y}*/ 0 /*{a-active-shadow-radius}*/#d01012/*{a-active-shadow-color}*/;
}

.ui-controlgroup-horizontal .ui-controlgroup-controls .ui-btn.ui-last-child {
    border-width: 1px;
    border-color: black;
    border-radius: 0 !important;
}

.ui-input-text, .ui-body-inherit, .ui-corner-all, .ui-shadow-inset{
    border-width: 1px;
    border-color: black;
}

.ui-controlgroup-controls a.ui-shadow:not(:focus), .ui-controlgroup-controls button.ui-shadow:not(:focus), .ui-controlgroup-controls div.ui-shadow:not(.ui-focus){
    border-width: 1px;
    border-color: black;
}

.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a{
    border-color:black !important;

}

.ui-field-contain > label + [class*="ui-"], .ui-field-contain .ui-controlgroup-controls {
    float: left;
    width: 78%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border-width: 1px;
    border-color: black;
    border-radius: 0;
}

@media screen and (max-width: 736px) {
.ui-field-contain > label + [class*="ui-"], .ui-field-contain .ui-controlgroup-controls {
    float: left;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border-width: 1px;
    border-color: black;
    border-radius: 0;
    padding-bottom: 10px;
}
}

.ui-checkbox, .ui-radio {
    margin: 0 0;
    position: relative;
}

.registration-step, #footer .ui-grid-a, #footer .ui-grid, #header .ui-grid-d, .header-image{
    max-width: 800px !important;
}

.summary-activity:first-child, .summary-accommodation:first-child, .summary-general-information-contents {
    margin: 0;
    border-radius: 0px;
    border: 1px solid black;
    background: #d01012;
}
