/* Import template.css */
/*@import url(https://cdn.rawgit.com/ChristofferNissen/ChristofferNissen.github.io/b348a90f/reg_templates/MinimalTemplate.css);*/
@import url(https://ChristofferNissen.github.io/reg_templates/MinimalTemplate2.css);

:root {
    /* Main layout farver, sliderbox-bg-color sætter også farven for bælken i bunden, og opsummerings-bjælken */
    --header-and-footer-color: transparent; /* Virker kun i minimal template */
    --sliderbox-bg-color:#FFF;
    --slider-bg-color:#00587d;
    
    --summary-bg-color: #00587d; 
    --button-previous: #FFF;
    --button-next: #FFF ;
    --button-book: #FFF;
    --grunddata-confirmation-shadow-color: #034561;
    
    /* Tekst farver i kronologisk rækkefælge, efter flowet igennem registreringen */
    --Tekst-grunddata: white;
    --Tekst-description: white;
    --Tekst-slider: black;
    --Tekst-person: black;
    --Tekst-button: #00587d;
    --Tekst-summary-headings: #FFF;
    --Tekst-summary-person: #FFF;
    --Tekst-Summary-Generel-field: #00587d;
    --Tekst-Field-actual-value: black;

    /* Kanter på kasser */
    --Border-raius: 0px;

    /* Billedbaggrund til mobil enhed */
    --Mobile-background: white;
}
