/* FJERN PRIS BOKS - RESPONSOV formular */
#button-summary {
    display: none !important;
}

@media screen and (max-width: 736px) {
    #tv {
        display:none;
    }
    
    .ui-content {
        /* Billedebaggrund */
        background-image: $Mobile-background !important;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 40%;
    }
}

body * {
    text-shadow: none !important;
}

body {
    color: #000000;
}

span {
    text-shadow: none;
}
    
.DivStepsH {
    background: none; 
    border-bottom: 0px;
}
    
.DivStepText {
    color: #000000;
    font-size: 1.2em;
}

.divInnerOn {
    background-image: none;
    border-radius: 0px;
    border: 1px solid $sliderbox-bg-color;
    padding: 7px;
}

.divInnerOff {
    background-image: none;
    border-radius: 0px;
    border: 1px solid #fff;
    padding: 7px;
}

.NrCompanionsMini, .DivBookerHeader  {
    background-image: none;
    border-radius: 0px;
    border: 1px solid $sliderbox-bg-color;
}

.InfoBoxVisible {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 0px;
    padding: 7px;
}

.SuccessHeader {
    font-size: 1.8em;
    color: $sliderbox-bg-color;
    letter-spacing: -1px;
    line-height: 75px;
    height: 75px;
}

.SuccessMail {
    color: $sliderbox-bg-color;
    margin-left: 10px;
    font-weight: bold;
    text-align: center;
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
    background: $sliderbox-bg-color /*{a-bar-background-color}*/;
    border-color: $sliderbox-bg-color/*{a-bar-border}*/;
    color: $Tekst-slider /* slider-tekst */;
    text-shadow: 0 /*{a-bar-shadow-x}*/ 1px /*{a-bar-shadow-y}*/ 0 /*{a-bar-shadow-radius}*/ #eee /*{a-bar-shadow-color}*/;
    font-weight: bold;
}

a#button-summary{
    background: $button-summary;
    border-color: $button-summary;
    color:$Tekst-button; /* "knap-tekst" */
    border-radius: $Border-raius;
}

#button-next{
    background: $button-next;
    border-color: $button-next;
    color:$Tekst-button; /* "knap-tekst" */
    border-radius: $Border-raius;
}

a#button-book{
    background: $button-book;
    border-color: $button-book;
    color:$Tekst-button; /* "knap-tekst" */
    border-radius: $Border-raius;
}

#button-previous {
    background: $button-previous;
    border-color: $button-previous;
    color:$Tekst-button; /* "knap-tekst" */
    border-radius: $Border-raius;
}

div#summary-panel, a#confirmation, a#calendarEntry {
    background: $sliderbox-bg-color;
    border-color: $sliderbox-bg-color;
    color: $Tekst-summary-headings; /* "Summary-heading-tekst" */
    text-shadow: none;
}
    
.ui-collapsible-set .ui-collapsible:not(.ui-collapsible-inset) .ui-collapsible-heading .ui-btn {
    background: $summary-bg-color;
    border-color: $summary-bg-color;
    color:$Tekst-summary-person; /* Grunddata-summary tekst */
}
.summary-general-information-value {
    color:$Tekst-Field-actual-value; /* Summary-field-aktual-values-tekst */
}

.summary-general-information-name {
    font-weight: bold;
    color:$Tekst-Summary-Generel-field; /* Summary-field-general-tekst */
}

.ui-body-b, .ui-page-theme-b .ui-body-inherit, html .ui-bar-b .ui-body-inherit, html .ui-body-b .ui-body-inherit, html body .ui-group-theme-b .ui-body-inherit, html .ui-panel-page-container-b {
    background: $grunddata-confirmation-shadow-color /*{b-body-background-color}*/;
    border-color: $grunddata-confirmation-shadow-color /*{b-body-border}*/; 
}
 
.summary-general-information-contents.ui-corner-all {
    background: $summary-bg-color;
    color: #fff;
    opacity: 0.9; /* Set to 0.9 to add a darker color to the dropdown box */ 
    border-radius: 0px;
}

.ui-page-theme-a a:hover{
 	color: $summary-bg-color; /* Skal hover måske være en anden farve? */
}

.person{
    margin-bottom: 1em;
    opacity: 0.85;
    color:$Tekst-person;   /* Person-tekst */ 
}

.registration-step-description, #number-of-persons-slider-container, .activity, .activity-super-group, .accommodation {
    margin-bottom: 1em;
    opacity: 0.85;
    color:$Tekst-description;   /* Description-tekst */ 
}
    
.img{
    opacity: 0.5;
}
    
.strong{
    font-size: 30px !important;
	color: white !important;
}
    
.notsostrong{
    font-size: 20px !important;
	color: white !important;
}
    
.registration-step-header{
    color: $Tekst-grunddata!important; /* Grunddata-tekst */
}

.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, html head + body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on:after, html .ui-bar-a .ui-checkbox-on:after, html .ui-body-a .ui-checkbox-on:after, html body .ui-group-theme-a .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-a:after, .ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active {
    background-color: $slider-bg-color /*{a-active-background-color}*/;
    border-color: $slider-bg-color /*{a-active-border}*/;
    color: $slider-bg-color /*{a-active-color}*/;
    text-shadow: 0 /*{a-active-shadow-x}*/ 1px /*{a-active-shadow-y}*/ 0 /*{a-active-shadow-radius}*/$sliderbox-bg-color/*{a-active-shadow-color}*/;
}


.summary-activity, .summary-accommodation, .summary-discount, .summary-general-information-contents{
    background: $summary-bg-color;
    border-color: $summary-bg-color;
    color: $Tekst-summary-person;
}