*{
	font-family: 'Helvetica', sans-serif !important;
}
.menu-content {
    display: none;
}

.main-content {
    width: 100%;
    border: none;
    display: block;
    padding: 0;
    float: none;
}

.container {
    max-width: 100% !important;
    width: 100%;
    min-width: 100%;
}

.footer-content a img{
    display: none;
}

body {
    padding: 0;
	background: #333;
}

.scrollWrapper {
    width: 100%;
    height: 66px;
    line-height: 66px;
    position: absolute;
    bottom: 75px;
    text-align: center;
}

.scrollBase{
  background: #fff;
  width: 66px;
  height: 66px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  margin: 0 auto;
  display: none;
}

.scrollArrow{
  background: url('https://www.trippus.se/MediaLibrary/133/scrollArrow.png');
  height:18px;
  width:33px;
  position: absolute;
  left: 16px;
  top: 24px;
  /*
  transition: all 2s ease-in-out;
  animation: scrollDown 1.5s ease-in-out infinite;
  */
}

.right .rubrik {
    font-size: 42px;
    font-weight: bold;
    padding-top: 30px;
}

.avgrans {
    width: 105px;
    height: 4px;
    background: #f9b035;
    margin-top: 50px;
    margin-bottom: 50px;
}

.customHeaderInfo h1 {
    font-size: 102px;
    font-weight: 800;
}
    
.customHeaderInfo p{
    font-size: 40px;
}

.fourth .sectionNumber {
	color: #f9b035;
}

.card {
    background: #e9f2f1;
    padding: 40px 50px 25px 50px;
}

.fourth .card {
    background: rgba(107, 216, 253, 0.3);
    background-image: url(http://www.trippus.se/support-layout/Trippus/awards2018/holoOverlay.PNG);
    border: 1px solid rgba(127, 189, 214, 0.5);
    color: #dbe5eb;
}

.fourth .rubrik {
    color: #fff;
}

.card-li {
    list-style-type: none;
    padding: 0 0 32px 0;
    font-weight: 500;
    font-size: 16px;
}

li.card-li:last-child {
    padding-bottom: 0px;
}
    
.fourth{
    background: #fff;
}
	
.card-header {
    padding-bottom: 32px;
    border-bottom: 1px solid #d7d7d7;
    font-weight: bold;
    font-size: 20px;
}
.card-ul {
    padding: 0px;
    padding-top: 40px;
}

.section.fourth  .container {
    padding: 1% 20%;
    float: left;
	background: transparent !important;
}

.third{
    background: #FEF7EA;
}
	
.textblock {
    width: auto;
    height: auto;
    margin-top: 0%;
    margin-left: 15%;
}

.third .textblock {
    width: auto;
    height: auto;
    margin-top: 0%;
    margin-left: 15%;
}

.sectionNumber {
    font-size: 140px;
    font-weight: bold;
    color: #e9f2f1;
    display: inline-block;
    margin-right: 9%;
}

.left {
	float: left;
	width: 15%;
}

.right{
	float: left;
	width: 30%;
}

.right .rubrik {
    font-size: 42px;
    font-weight: bold;
    padding-top: 35px;
}

.avgrans {
    width: 105px;
    height: 5px;
    background: #f9b035;
    margin-top: 50px;
    margin-bottom: 50px;
}

section.reg{
	transition: 1s all;
	background-color: #030a14;
}

.right .text{
  font-size: 20px;
    line-height: 41px;
    font-weight: 500;
}

.section{
    min-height: 100vh;
	height: auto;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

img.robot {
    width: 40% !important;
    position: absolute;
    /* right: -83px; */
    bottom: 0;
}

img.mpiLogo {
    padding-bottom: 10px;
    max-height: 100px ! important;
}


img.train {
	position: absolute;
    right: -83px;
    bottom: 0;
    width: 52% !important;
    height: auto !important;
    display:none;
}

.regIframeWrapper {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 100vh;
    left: 0;
    background-color: #d24e2b;
    background-image: linear-gradient(0deg, #d24e2b 0%, #c49c66 100%);
    background-size: cover;
    text-align: center;
    /*
    transition: 2s all ease-in-out;
    */
    
}

.reg {
    background: url(http://www.trippus.se/eventus/userfiles/94166.png) no-repeat center center;
	background-size: cover;
}

.regIframeWrapper iframe {
    margin: 0 auto;
    width: 42%;
    height: auto;
    min-height: 100vh;
	opacity: 0;
    margin-top: 10vh;
	transition: 1s all ease-in-out;
	transform: scale(0);
}

.customHeader{
    position: absolute;
    top: 0;
    left: 0;
}

.customHeader video{
	min-width: 100%; 
 	min-height: 100%; 
  	width: auto;
  	height: auto;
  	position: absolute;
  	top: 50%;
  	left: 50%;
      transform: translate(-50%,-50%);
    z-index: -1;
}

.customHeaderInfo {
    color: #dba753;
    display: block;
    text-align: center;
    position: relative;
    z-index: 20;
    height: 100vh;
    padding-top: 20vh;
	text-transform: uppercase;
}

#video_overlays {
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    /*
    background: rgba(35, 46, 64, 0.95);
    */
    background: rgba(196, 156, 102, 0.63);
    z-index: 0;
}

p.vart {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 10px;
	padding-top: 25px;
}
    
p.naer {
    font-size: 38px;
    font-family: 'Yellowtail', cursive !important;
    padding-top: 50px;
    text-transform: none !important;
}

.third .right {
    width: 80%;
}

.third .card {
    background: #fff;
    box-shadow: -1px 14px 50px #5d3e271a;
    margin: -2%;
}

.third .col-lg-4 {
    padding: 0;
	margin-top: 30px;
	width: 45% !important;
}

.third .right .text{
    width: 100%;
    padding: 5%;
}

.raket_button {
    background: #f9b035;
    padding: 20px 70px;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    /*
    transition: .2s all ease-in-out;
    */
    font-size: 20px;
    text-decoration: none;
}

.raket_button:hover {
    background: #ee7365;
	color: #fff;
	text-decoration: none;
}

/*
@keyframes scrollDown{
  0%{
    top: 24px;
    }
    25%{
      top: 24px;
    }
    50%{
      top: 30px;
    }
    75%{
      top: 22px;
    }
  100%{
    top: 24px;
    }
}
*/


.second{
    background: url(http://www.trippus.se/eventus/userfiles/94163.png) no-repeat center center;
    background-size: cover;
}

.third{
    background: url(http://www.trippus.se/eventus/userfiles/94164.png) no-repeat center center;
    background-size: cover;
}

.fourth .fp-tableCell {
    background: url(http://www.trippus.se/eventus/userfiles/94165.png) no-repeat center center;
    background-size: cover;
}



@media screen and (max-width: 1600px){
	.third .col-lg-4{
		width: 70% !important;
	}
	.robot{
		width: 100% !important;
		height: auto !important;
        z-index: 0;
        /* display:none; */
	}
	
	.train{
        top: 245px;
        display:none;
	}
}
@media screen and (max-width: 1200px){
	.third .col-lg-4{
		z-index: 2;
		width: 100% !important;
	}
	.robot{
		width: 40% !important;
		height: auto !important;
		z-index: 0;
	}
}
@media screen and (max-width: 500px){
	
	body, html{
		overflow-x: hidden
	}
	img.train {
		position: absolute;
		top: 12%;
		width: 97% !important;
		height: auto !important;
        z-index: 0;
        display:none;
	}
	
	.third .col-lg-4{
		z-index: 2;
		width: 100% !important;
		margin-bottom: 70px;
	}
	
	.fourth .right .rubrik{
		font-size: 38px;
	}
	
	.regIframeWrapper{
		display: none;
	}
	
	.right .rubrik {
		padding-top: 0px;
	}
	.third .right .rubrik{
		padding-top: 25px;
	}
	
	.robot{
		right: 0 !important;
	}
	
	.customHeader{
		overflow-x: hidden !important;
	}
	
	.third .textblock {
		margin-left: 6%;
	}
	
	.third .right{
		width: 100%;
		z-index: 1;
		position: relative;
	}
	.fourth {
    background: url(www.trippus.se/support-layout/Trippus/awards2018/hologram_bg.jpg) no-repeat center center fixed;
    background-size: cover;
}
}
@media screen and (max-width: 990px) {
	body .customHeader{
		background: #222d3e; /* Old browsers */
		background: -moz-linear-gradient(top, #222d3e 0%, #2c3748 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #222d3e 0%,#2c3748 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #222d3e 0%,#2c3748 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222d3e', endColorstr='#2c3748',GradientType=0 ); /* IE6-9 */
	}
	.regIframeWrapper iframe {
		width: 100%;
	}
	.col-lg-3 {
    margin-bottom: 15px;
}
	.customHeaderInfo{
        padding-top: 15vh;
        background-color: #d24e2b;
        background-image: linear-gradient(0deg, #d24e2b 0%, #c49c66 100%);
	}
	
	.fullpage section {
		padding: 0px !important;
		margin: 0px !important;
	}
	
	.customHeaderInfo p:first-child{
		font-size: 14px;
	}
	
	.customHeaderInfo h1{
		font-size: 35px;
	}
	
	p.vart {
		font-size: 12px;
		letter-spacing: 5px;
		padding-top: 10px;
	}
	
	p.naer {
		font-size: 27px;
		padding-top: 16px;
	}
	
	.textblock {
		margin-left: 8%;
		margin-right: 8%;
	}
	.train{
		width: 90% !important;
		height: auto !important;
		right: 0 !important;
	}
	.third .right .text{
		width: 100%;
	}
	
	.right{
		width: 100%;
	}
	
	.right .text{
		z-index: 100;
		position: relative;
		margin-bottom: 50px;
	}
	
	section{
		overflow-x: hidden;
	}
	
	.robot{
        width: 55% !important;
		height: auto !important;
        z-index: 0;
        background: "http://www.trippus.se/eventus/userfiles/94168.png";
        background-size: cover;
    }
    
    .mpiLogo{
        height: 10vh!important;
	}

	.scrollWrapper{
		bottom: 10vh;
	}
	.section{
		min-height: 100vh;
		height: auto !important;
		width: 100%;
		box-sizing: border-box;
		overflow: auto !important;
		overflow-x: hidden;
		position: relative;
	}
}

    .logomainpage{
        padding: 0% 10% 0% 20%;
        max-width: 800px;
        width: 100%;
        height: auto;
    }

    .frontText{
        padding-top: 10vh;
    }

    @media screen and (max-width: 990px){
    .frontText{
        padding-top: 2vh !important;
    }
}