@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Yellowtail');
* {
  font-family: 'Montserrat', sans-serif !important;
}

.menu-content {
  display: none;
}

.main-content {
  width: 100%;
  border: none;
  display: block;
  padding: 0;
  float: none;
}

.container {
  max-width: 100% !important;
  width: 100%;
  min-width: 100%;
}

.footer-content a img {
  display: none;
}

body {
  padding: 0;
  background: #222;
}

.scrollWrapper {
  width: 100%;
  height: 66px;
  line-height: 66px;
  position: absolute;
  bottom: 75px;
  text-align: center;
}

.scrollBase {
  background: #fff;
  width: 66px;
  height: 66px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  margin: 0 auto;
  display: none;
}

.scrollArrow {
  background: url('https://www.trippus.se/MediaLibrary/133/scrollArrow.png');
  height: 18px;
  width: 33px;
  position: absolute;
  left: 16px;
  top: 24px;
  /*
  transition: all 2s ease-in-out;
  animation: scrollDown 1.5s ease-in-out infinite;
  */
}

.right .rubrik {
  font-size: 42px;
  font-weight: bold;
  padding-top: 30px;
}


/* HEADER TEXT */

p.linje1 {
  font-size: 20px;
}

p.linje2 {
  font-size: 51px;
  font-weight: 800;
}

p.linje3 {
  font-size: 27px;
  letter-spacing: 2.65px;
}

p.linje4 {
  font-size: 55px;
  letter-spacing: 6px;
}

p.linje5 {
  font-size: 59px;
  letter-spacing: 12px;
  line-height: 54px;
  font-weight: 600;
}

p.linje6 {
  font-weight: 900;
  font-size: 73px;
  line-height: 68px;
}

.frontText {
  line-height: 35px;
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 430px;
  font-weight: 400;
}

.customHeaderInfo h1 {
  font-size: 51px;
  font-weight: 800;
}

.card {
  background: #fff;
  padding: 25px;
}

.fourth .row {
    margin-bottom: 30px;
}

.fourth .card {
  background: rgba(29, 29, 29, 0.23);
  color: #fff;
}

.fourth li.card-li {
  font-size: 15px;
}

.fourth .rubrik {
  color: #fff;
}

.card-li {
  list-style-type: none;
  padding: 0 0 20px 0;
  font-weight: 500;
  font-size: 20px;
}

li.card-li:last-child {
  padding-bottom: 0px;
}

.fourth {
  background: #fff;
}

.card-header {
  font-weight: bold;
  font-size: 25px;
}

.card-ul {
  padding: 0px;
  padding-top: 20px;
}

ul {
  padding-bottom: 0px;
}

.section.fourth .container {
  padding: 1% 15%;
  float: left;
  background: transparent !important;
}

.third {
  background: #FEF7EA;
}

.textblock {
  width: auto;
  height: auto;
  margin-top: 0%;
  margin-left: 15%;
}

.third .textblock {
  width: auto;
  height: auto;
  margin-top: 0%;
  margin-left: 15%;
}

.sectionNumber {
  font-size: 140px;
  font-weight: bold;
  color: #e9f2f1;
  display: inline-block;
  margin-right: 9%;
}

.left {
  float: left;
  width: 15%;
}

.right {
  float: left;
  width: 40%;
}

.right .rubrik {
  font-size: 42px;
  font-weight: bold;
  padding-top: 35px;
}

.avgrans {
  width: 105px;
  height: 5px;
  background: #872d20;
  margin-top: 20px;
  margin-bottom: 20px;
}

section.reg {
  transition: 1s all;
  background-color: #030a14;
}

.right .text {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  font-weight: 300;
}

.section {
  min-height: 100vh;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

img.robot {
  width: 40% !important;
  position: absolute;
  /* right: -83px; */
  bottom: 0;
}

.logomainpage {
  max-width: 370px;
  height: auto;
}

.textmainpage {
  max-width: 434px;
}

a.mpiLogo {
  position: absolute;
}

.logo_link {
  position: fixed;
  z-index: 1;
  display: flex;
  padding: 7px;
  top: 0;
  width: 120px;
  height: auto;
}

img.train {
  position: absolute;
  right: -83px;
  bottom: 0;
  width: 52% !important;
  height: auto !important;
  display: none;
}

.regIframeWrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 100vh;
  left: 0;
  background-color: #d24e2b;
  background-image: linear-gradient(0deg, #d24e2b 0%, #c49c66 100%);
  background-size: cover;
  text-align: center;
  /*
    transition: 2s all ease-in-out;
    */
}

.reg {
  background: url(http://www.trippus.se/eventus/userfiles/94166.png) no-repeat center center;
  background-size: cover;
}

.regIframeWrapper iframe {
  margin: 0 auto;
  width: 42%;
  height: auto;
  min-height: 100vh;
  opacity: 0;
  margin-top: 10vh;
  transition: 1s all ease-in-out;
  transform: scale(0);
}

.customHeader {
  position: absolute;
  top: 0;
  left: 0;
}

.customHeader video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.customHeaderInfo {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-flow: row wrap;
  position: relative;
  z-index: 20;
  height: 100vh;
  text-transform: uppercase;
}

#video_overlays {
  position: absolute;
  float: left;
  width: 100%;
  height: 100%;
  /*
    background: rgba(35, 46, 64, 0.95);
    */
  background: rgba(171, 134, 86, 0.87);
  z-index: 0;
}

p.vart {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 10px;
  padding-top: 25px;
}

p.naer {
  font-size: 38px;
  font-family: 'Yellowtail', cursive !important;
  padding-top: 50px;
  text-transform: none !important;
}

.third .right {
  width: 80%;
}

.third .card {
  background: #fff;
  box-shadow: -1px 14px 50px rgba(93, 62, 39, 0.1);
  margin: -2%;
  padding: 100px;
}

.third .col-lg-4 {
  padding: 0;
  margin-top: 30px;
  width: 45% !important;
}

.third .right .text {
  width: 100%;
  padding-bottom: 5%;
  text-align: left;
}

.raket_button {
  background: #f9b035;
  padding: 20px 70px;
  border-radius: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  /*
    transition: .2s all ease-in-out;
    */
  font-size: 20px;
  text-decoration: none;
}

.raket_button:hover {
  background: #ee7365;
  color: #fff;
  text-decoration: none;
}


/*
@keyframes scrollDown{
  0%{
    top: 24px;
    }
    25%{
      top: 24px;
    }
    50%{
      top: 30px;
    }
    75%{
      top: 22px;
    }
  100%{
    top: 24px;
    }
}
*/

.second {
  background: url(http://www.trippus.se/eventus/userfiles/94163.png) no-repeat center center;
  background-size: cover;
}

.third {
  background: url(http://www.trippus.se/eventus/userfiles/94164.png) no-repeat center center;
  background-size: cover;
}

.fourth .fp-tableCell {
  background: url(http://www.trippus.se/eventus/userfiles/94165.png) no-repeat center center;
  background-size: cover;
}

@media screen and (max-width: 899px) {
  p.linje1 {
    font-size: 12px;
    line-height: 8px;
  }
  img.textmainpage {
    min-width: 240px;
    width: 80%;
    padding-bottom: 10px;
  }
  img.logomainpage {
    min-width: 240px;
    width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  img.textmainpage {
    min-width: 240px;
    width: 100%;
    padding-bottom: 10px;
  }
  img.logomainpage {
    width: 100%;
    max-width: 500px;
  }
}

@media screen and (max-width: 1600px) {
  .third .col-lg-4 {
    width: 70% !important;
  }
  .robot {
    width: 100% !important;
    height: auto !important;
    z-index: 0;
    /* display:none; */
  }
  .train {
    top: 245px;
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .third .col-lg-4 {
    z-index: 2;
    width: 100% !important;
  }
  .robot {
    width: 40% !important;
    height: auto !important;
    z-index: 0;
  }
}

@media screen and (max-width: 500px) {
  .third .card {
    background: #fff;
    box-shadow: -1px 14px 50px rgba(93, 62, 39, 0.1);
    margin: -2%;
    padding: 40px;
  }

  body,
  html {
    overflow-x: hidden
  }
  img.train {
    position: absolute;
    top: 12%;
    width: 97% !important;
    height: auto !important;
    z-index: 0;
    display: none;
  }
  .third .col-lg-4 {
    z-index: 2;
    width: 100% !important;
    margin-bottom: 70px;
  }
  .fourth .right .rubrik {
    font-size: 38px;
  }
  .regIframeWrapper {
    display: none;
  }
  .right .rubrik {
    padding-top: 0px;
  }
  .third .right .rubrik {
    padding-top: 25px;
  }
  .robot {
    right: 0 !important;
  }
  .customHeader {
    overflow-x: hidden !important;
  }
  .third .textblock {
    margin-left: 6%;
  }
  .third .right {
    width: 100%;
    z-index: 1;
    position: relative;
  }
  .fourth {
    background: url(www.trippus.se/support-layout/Trippus/awards2018/hologram_bg.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}

@media screen and (max-width: 990px) {
  .regIframeWrapper iframe {
    width: 100%;
  }
  .col-lg-3 {
    margin-bottom: 15px;
  }
  .fullpage section {
    padding: 0px !important;
    margin: 0px !important;
  }
  .textblock {
    margin-left: 8%;
    margin-right: 8%;
  }
  .train {
    width: 90% !important;
    height: auto !important;
    right: 0 !important;
  }
  .third .right .text {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .right .text {
    z-index: 100;
    position: relative;
    margin-bottom: 50px;
  }
  section {
    overflow-x: hidden;
  }
  .robot {
    width: 55% !important;
    height: auto !important;
    z-index: 0;
    background: "http://www.trippus.se/eventus/userfiles/94168.png";
    background-size: cover;
  }
  .scrollWrapper {
    bottom: 10vh;
  }
  .section {
    min-height: 100vh;
    height: auto !important;
    width: 100%;
    box-sizing: border-box;
    overflow: auto !important;
    overflow-x: hidden;
    position: relative;
  }
}


/* TEST AF PROGRAM OFF/ON */


/* AWARD PROGRAMME */

.day {
  background: #222 !important;
  text-align: center;
  -webkit-transition: background 0.4s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.4s ease-in-out;
}

.day .text {
  color: #c49c66;
}

.span-night {
  color: #c49c66;
  -webkit-transition: color 0.4s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.4s ease-in-out;
}

.span-night .card-header {
  border-bottom: 1px solid #c49b66;
}

.day-night {
  width: 170px;
  height: 44px;
  margin: 10px auto;
  font-size: 15px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: #222 !important;
  border: none;
  color: #c49c66;
  /* old browsers */
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.4s ease-in-out;
  -moz-box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.05);
}

.day-night:hover {
  background: #c49c66 !important;
  color: #222;
  text-shadow: 0px 0px 30px rgba(50, 150, 255, 0.1), 0px 0px 10px rgba(80, 180, 255, 0.1);
  -moz-box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0);
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0);
}


/* CONFERENCE PROGRAMME */

.night {
  background: rgb(249, 249, 249)!important;
}

.night .span-day {
  color: #222;
}

.night .text {
  color: #222;
}

.span-day .card-header {
  border-bottom: 1px solid #222;
  padding-bottom: 20px;
}

.night .day-night {
  background: #c49c66 !important;
  color: #222;
  text-shadow: 0px 0px 30px rgba(255, 195, 0, 1), 0px 0px 10px rgba(255, 195, 0, 1);
  -moz-box-shadow: inset 0px -2px 0px rgba(255, 255, 0, 0.1);
  -webkit-box-shadow: inset 0px -2px 0px rgba(255, 255, 0, 0.1);
  box-shadow: inset 0px -2px 0px rgba(255, 255, 0, 0.1);
}

.night .day-night:hover {
  background: #222 !important;
  color: #c49c66;
  -moz-box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0);
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0);
}

.btn-day,
.night .btn-night {
  display: none;
}

.btn-night,
.night .btn-day {
  display: block;
}

.span-day,
.night .span-night {
  display: none;
}

.span-night,
.night .span-day {
  display: inline;
}